* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:"Poppins", sans-serif;
    background-color: aliceblue;
}

.letter {
    width: 80%;
    margin:auto;
}

p {
    padding: 12px;
    text-align: justify;
}

video{
    padding-top: 20px;
    align-items: center;
    display: block;
    margin: 0 auto;
}

h3{

    text-align: center;
    margin: 0 auto;
}

